* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ccd8ff url("assets/bg-body.png") no-repeat;
  background-position: 50% 75%;
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  overflow: hidden;
}

.game-container {
  width: 90vmin;
  max-width: 500px;
}

#game-frame {
  position: relative;
  width: 100%;
  padding-top: 100%; /* square */
  background: #d4f8ff;
  border: 4px solid #0acd5b;
  border-radius: 5%;
  overflow: hidden;
}

#cat {
  width: 15%;
  height: 15%;
  background: url("assets/cat.png") no-repeat center/contain;
  position: absolute;
  bottom: 0;
  left: 42.5%;
  transition: left 0.1s;
}

.food,
.bomb {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 0;
}

.food {
  background: url("assets/candy.png") no-repeat center/contain;
}

.bomb {
  background: url("assets/poison.png") no-repeat center/contain;
}

#info-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 5%;
  text-align: center;
  z-index: 10;
  width: 80%;
  display: none;
}

#info-box.active {
  display: block;
}

#info-text {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #003d1a;
}

#info-button {
  padding: 10px 20px;
  background: #0acd5b;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5%;
}

#score-bar {
  font-size: 1.5rem; /* Change font size */
  color: white; /* Change text color */
  font-weight: bold; /* Make it bold */
  margin-bottom: 10px; /* Space below the score bar */
  text-align: center; /* Center the score */
}

#score {
  color: white; /* Change the color of just the number */
  font-weight: lighter;
}

html,
body {
  overflow: hidden;
  height: 100%;
  touch-action: none; /* optional: blok gestur sentuh default */
}
